---
import { getCollection, getEntry } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry: any) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { slug } = Astro.params;
const entry = await getEntry("blog", slug);
const { Content } = await entry.render();
---

<BlogLayout frontmatter={entry.data}>
  <span class="text-accent uppercase font- tracking-wide">Quick Summary:</span>
  <span class="italic">{entry?.data.summary}</span>
  <hr />
  <Content />
</BlogLayout>
