---
import { getCollection, type CollectionEntry } from "astro:content";
import type { GetStaticPathsOptions, Page } from "astro";
import BaseLayout from "~src/layouts/BaseLayout.astro";
import ArtworkList from "~src/components/ArtworkList.astro";
import Pagination from "~src/components/Pagination.astro";

interface Props {
  page: Page<CollectionEntry<"artwork">>;
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const artwork = (await getCollection("artwork")).filter((artwork) => !artwork.data.draft);
  artwork.sort((a, b) => b.slug?.localeCompare(a?.slug || "") || 0);

  return paginate(artwork, { pageSize: 30 });
}

const { page } = Astro.props;
---

<BaseLayout title="Artwork">
  <div class="mt-24">
    <ArtworkList artworkItems={page.data} />
    <Pagination
      currentPage={page.currentPage}
      lastPage={page.lastPage}
      url={page.url}
    />
  </div>
</BaseLayout>
