---
import ArtworkList from "~src/components/ArtworkList.astro";
import BaseLayout from "~src/layouts/BaseLayout.astro";
---

<BaseLayout title="Artwork">
  <div class="mt-24"><ArtworkList /></div>
</BaseLayout>
