---
import PostList from "~src/components/PostList.astro";
import BaseLayout from "~src/layouts/BaseLayout.astro";
---

<BaseLayout title="Blog">
  <div class="container mt-10 my-24">
    <PostList />
  </div>
</BaseLayout>
