---
import BookList from "~src/components/BookList.astro";
import BaseLayout from "~src/layouts/BaseLayout.astro";
---

<BaseLayout title="Books">
  <div class="container mt-10 my-24">
    <div class="flex sm:items-center not-prose flex-col sm:flex-row gap-4 sm:gap-0">
      <h1 class="text-lg sm:text-3xl lg:text-4xl font-semibold text-white">Books</h1>
    </div>
    <BookList />
  </div>
</BaseLayout>
