---
import LetterCascade from "~src/components/LetterCascade.astro";
import Owl from "~src/components/Owl";
import PostList from "~src/components/PostList.astro";
import BookList from "~src/components/BookList.astro";
import BaseLayout from "~src/layouts/BaseLayout.astro";
import Button from "~src/components/ui/Button.astro";
// import ArtworkList from "~src/components/ArtworkList.astro";
---

<BaseLayout title="RalRom - Full-Stack Web Developer & Aspiring Artist">
  <div class="container mt-10 my-24">
    <!-- Hero -->
    <div class="flex flex-col items-center">
      <div class="text-center space-y-2 relative z-10">
        <h1 class="text-white text-3xl sm:text-4xl xl:text-5xl font-semibold">
          <LetterCascade text="Robert Al-Romhein" />
        </h1>
        <p class="text-primary-200 text-lg sm:text-xl xl:text-2xl font-medium !leading-none">
          <LetterCascade text="Full-Stack Web Developer" delay="0.2s" />
          <br />
          <LetterCascade text="& Aspiring Artist" delay="0.5s" />
        </p>
      </div>
      <div style={{ touchAction: "pan-y" }} class="aspect-[1_/_0.8]">
        <Owl client:load />
      </div>
    </div>

    <!-- Artworks -->
    <!-- <div class="flex sm:items-center not-prose flex-col sm:flex-row gap-4 sm:gap-0">
      <h2 class="text-lg sm:text-3xl lg:text-4xl font-semibold text-white">Artwork</h2>
    </div>
    <ArtworkList limit={10} /> -->

    <!-- Posts -->
    <div class="mt-32">
      <PostList limit={4} />
    </div>

    <div class="text-center mt-10">
      <Button href="/blog">View all posts</Button>
    </div>

    <!-- Books -->
    <div class="mt-32">
      <div class="max-w-6xl mx-auto">
        <div class="flex sm:items-center not-prose flex-col sm:flex-row gap-4 sm:gap-0">
          <h2 class="text-lg sm:text-3xl lg:text-4xl font-semibold text-white">Currently reading</h2>
        </div>
        <BookList limit={3} />
      </div>
    </div>

    <div class="text-center mt-10">
      <Button href="/books">View all books</Button>
    </div>
  </div>
</BaseLayout>
