---
import LetterCascade from "~src/components/LetterCascade.astro";
import Owl from "~src/components/Owl.astro";
import PostList from "~src/components/PostList.astro";
import BaseLayout from "~src/layouts/BaseLayout.astro";

Astro.response.headers.set("Cache-Control", "public, max-age=86400");
---

<BaseLayout title="RalRom">
  <div class="container space-y-16 mt-10 my-24">
    <div class="flex flex-col items-center">
      <div class="text-center space-y-2 relative z-10">
        <h1 class="text-white text-3xl sm:text-4xl xl:text-5xl font-semibold">
          <LetterCascade text="Robert Al-Romhein" />
        </h1>
        <p class="text-primary-200 text-lg sm:text-xl xl:text-2xl font-medium !leading-none">
          <LetterCascade text="Full-Stack Web Developer" delay="0.2s" />
          <br />
          <LetterCascade text="& Aspiring Artist" delay="0.5s" />
        </p>
      </div>
      <Owl />
    </div>

    <PostList />
  </div>
</BaseLayout>
