---
import LetterCascade from "~src/components/LetterCascade.astro";
import Owl from "~src/components/Owl";
import PostList from "~src/components/PostList.astro";
import BookList from "~src/components/BookList.astro";
import BaseLayout from "~src/layouts/BaseLayout.astro";
---

<BaseLayout title="RalRom - Full-Stack Web Developer & Aspiring Artist">
  <div class="container space-y-16 mt-10 my-24">
    <div class="flex flex-col items-center">
      <div class="text-center space-y-2 relative z-10">
        <h1 class="text-white text-3xl sm:text-4xl xl:text-5xl font-semibold">
          <LetterCascade text="Robert Al-Romhein" />
        </h1>
        <p class="text-primary-200 text-lg sm:text-xl xl:text-2xl font-medium !leading-none">
          <LetterCascade text="Full-Stack Web Developer" delay="0.2s" />
          <br />
          <LetterCascade text="& Aspiring Artist" delay="0.5s" />
        </p>
      </div>
      <div style={{ touchAction: "none" }} class="aspect-[1_/_0.8]">
        <Owl client:load />
      </div>
    </div>

    <BookList />

    <PostList limit={3} />

    <div class="text-center">
      <a
        href="/blog"
        class="ralrom-social-link rounded-md bg-white/10 px-6 py-4 text-lg font-semibold text-white shadow-sm hover:bg-white/20 inline-flex items-center gap-3"
      >
        View all posts
      </a>
    </div>
  </div>
</BaseLayout>
