---
import LetterCascade from "~src/components/LetterCascade.astro";
import PostList from "~src/components/PostList.astro";
import Tilt from "~src/components/Tilt";
import BaseLayout from "~src/layouts/BaseLayout.astro";
---

<BaseLayout title="RalRom">
  <div class="container space-y-16 mt-10 my-24">
    <div class="flex flex-col items-center">
      <div class="text-center space-y-2 relative z-10">
        <h1 class="text-white text-3xl sm:text-4xl xl:text-5xl font-semibold">
          <LetterCascade text="Robert Al-Romhein" />
        </h1>
        <p class="text-primary-200 text-lg sm:text-xl xl:text-2xl font-medium !leading-none">
          <LetterCascade text="Full-Stack Web Developer" delay="0.2s" />
          <br />
          <LetterCascade text="& Aspiring Artist" delay="0.5s" />
        </p>
      </div>
      <div class="pointer-events-none select-none relative">
        <Tilt client:load>
          <img src="/assets/owl-eyes.svg" class="w-[550px] relative z-10" style={{ transform: "translateZ(50px)" }} />
          <img
            src="/assets/owl-pupils.svg"
            class="w-[550px] absolute top-0 z-20"
            style={{ transform: "translateZ(100px)" }}
          />
          <img
            src="/assets/owl-beak.svg"
            class="w-[550px] absolute top-0 z-20"
            style={{ transform: "translateZ(70px)" }}
          />
          <img
            src="/assets/owl-feathers.svg"
            class="w-[550px] absolute top-0 z-10"
            style={{ transform: "translateZ(20px)" }}
          />
          <img
            src="/assets/owl-raccoon.svg"
            class="w-[550px] absolute top-0 z-0"
            style={{ transform: "translateZ(-50px)" }}
          />
        </Tilt>
      </div>
    </div>

    <PostList />
  </div>
</BaseLayout>
