---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const artwork = (await getCollection("artwork")).filter((artwork) => !artwork.data.draft);
artwork.sort((a, b) => b.slug?.localeCompare(a?.slug || "") || 0);

const { limit } = Astro.props;
---

<div
  class="grid gap-4 mt-4"
  style={{ gridTemplateColumns: "repeat(auto-fill, minmax(250px, 1fr))", gridAutoRows: "250px" }}
>
  {
    artwork.slice(0, limit).map(async (artworkItem) => (
      <a href={`/artwork/${artworkItem.slug}`} class="hover:opacity-75 not-prose rr-underline">
        <Image src={artworkItem.data.image} alt={artworkItem.data.title} class="object-cover w-full h-full rounded" />
      </a>
    ))
  }
</div>
