---
interface NavigationItem {
  name: string;
  href: string;
}

const navigation: NavigationItem[] = [
  { name: "Home", href: "/" },
  { name: "Blog", href: "/blog" },
];
---

<footer class="bg-primary-600 border-t border-black border-opacity-25 pt-6 pb-20 z-20">
  <div class="container">
    <div class="flex flex-col sm:flex-row items-center justify-between gap-6">
      <nav class="flex flex-col sm:flex-row gap-4 sm:gap-6">
        {
          navigation.map((item) => (
            <a href={item.href} class={"font-medium text-blue-400 hover:text-secondary-500 transition-colors"}>
              <span>{item.name}</span>
            </a>
          ))
        }
      </nav>
      <span class="text-blue-400 text-sm sm:text-base">&copy; Robert Al-Romhein 2022. All rights reserved.</span>
    </div>
  </div>
</footer>
