---
interface NavigationItem {
  name: string;
  href: string;
}

const navigation: NavigationItem[] = [
  { name: "Home", href: "/" },
  // { name: "Projects", href: "/projects", Icon: MdPalette },
  { name: "Blog", href: "/blog" },
];
---

<nav
  id="main-menu"
  class="bg-[#0d2466] bg-opacity-95 border-b border-black border-opacity-25 py-2.5 fixed w-full z-50 top-0 left-0"
  style={{
    transform: "translateZ(99999px)",
    transformStyle: "preserve-3d",
  }}
>
  <div class="container">
    <div class="flex items-center">
      <a class="flex-shrink-0 group flex items-center" href="/">
        <img
          class="h-11 w-auto group-hover:rotate-90 transition-transform"
          src="/assets/website/logo.svg"
          alt="Workflow"
        />
        <div class="text-2xl font-semibold ml-2 text-white">RalRom</div>
      </a>
      <div class="space-x-6 ml-32 hidden xl:flex">
        {
          navigation.map((item) => (
            <a
              href={item.href}
              class={"flex items-center space-x-2 transition-colors uppercase tracking-wider text-blue-400"}
            >
              <span>{item.name}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</nav>
