---
import Tilt from "~src/components/Tilt";
---

<div class="pointer-events-none select-none relative">
  <Tilt client:load>
    <img src="/assets/website/owl-eyes.svg" class="w-[550px] relative z-20" style={{ transform: "translateZ(50px)" }} />
    <img
      src="/assets/website/owl-pupils.svg"
      class="w-[550px] absolute top-0 z-30"
      style={{ transform: "translateZ(100px)" }}
    />
    <img
      src="/assets/website/owl-beak.svg"
      class="w-[550px] absolute top-0 z-30"
      style={{ transform: "translateZ(70px)" }}
    />
    <img
      src="/assets/website/owl-feathers.svg"
      class="w-[550px] absolute top-0 z-10"
      style={{ transform: "translateZ(20px)" }}
    />
    <img
      src="/assets/website/owl-raccoon.svg"
      class="w-[550px] absolute top-0 z-0"
      style={{ transform: "translateZ(-50px)" }}
    />
  </Tilt>
</div>
