---
import { getCollection } from "astro:content";
import dayjs from "dayjs";

const blogPosts = (await getCollection("blog")).filter((post) => !post.data.draft);
blogPosts.sort((a, b) => b.slug?.localeCompare(a?.slug || "") || 0);

const { limit } = Astro.props;
---

<div class="max-w-3xl mx-auto">
  <h2 class="text-lg sm:text-3xl lg:text-4xl font-semibold text-white">Blog</h2>
  <div class="grid lg:grid-cols-2 gap-12 mt-8">
    {
      blogPosts.slice(0, limit).map((post) => (
        <article>
          <span class="text-blue-400">{dayjs(post.id.substring(0, 10)).format("MMM D, YYYY")}</span>
          <a href={`/blog/${post.slug}`} class="hover:opacity-75 not-prose rr-underline">
            <h3 class="font-medium text-lg lg:text-xl text-white">{post.data.title}</h3>
          </a>
        </article>
      ))
    }
  </div>
</div>
