---
import dayjs from "dayjs";

const blogPosts = await Astro.glob("../pages/blog/*.md");
blogPosts.sort((a, b) => b.url?.localeCompare(a?.url || "") || 0);
---

<div class="container">
  <div class="prose lg:prose-lg prose-invert mx-auto">
    <div class="flex items-center not-prose">
      <div class="w-24">
        <img src="/assets/portrait.jpg" class="rounded-full w-16 ring-2 ring-primary-300" />
      </div>
      <h2 class="text-3xl lg:text-4xl font-semibold text-white">
        Writing about web development<br />&amp; self-improvement
      </h2>
    </div>
    <div class="space-y-12 ml-24 pl-6 border-l border-primary-400 mt-6">
      {
        blogPosts.map((post) => (
          <article>
            <div class="text-primary-300">
              {dayjs(post.url?.replace("/blog/", "").substring(0, 10)).format("MMM D, YYYY")}
            </div>
            <a
              href={post.url}
              class="hover:opacity-75 not-prose no-underline pb-1 border-b border-secondary-500 inline-block"
            >
              <h3 class="font-medium text-xl lg:text-2xl">{post.frontmatter.title}</h3>
            </a>
          </article>
        ))
      }
    </div>
  </div>
</div>
